main {
    max-width: 700px;
}

.checkout_btn-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.checkout_btn {
    margin: 10px auto;
    padding: 5px 10px;
}

.cart_item-container{
    padding: 0;
}

.cart_item {
    box-shadow: 0px 0px 3px 2px rgba(0, 0, 0, 0.2);
    padding: 10px 14px;
    max-width: 700px;
    margin: 20px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cart_item a{
    text-decoration: none;
    color: inherit;
}

.item_detail {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin: 2px 0;
    min-width: 150px;
}

.item_img {
    max-width: 90px;
}